body {
  background-color: black;
  color: white;
  font-family: "dejavu serif", serif;
  transition: background-color 1000ms linear;
  max-width: 950px;
  margin: auto;
}

a {
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-style: italic;
}

#instructions {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  padding-top: 5px;
}

form {
  padding-top: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 25px;
}

th, td {
  padding: 1.5ex 1em;
  border-bottom: solid;
}

th {
  font-size: x-large;
}

progress {
  margin-left: 1em;
}

body.highlight {
  background-color: #000c;
}

.error {
  border-color: red;
  border-style: solid;
  border-width: 4px;
  padding: 1.5ex 1em;
  text-align: justify;
}

.error-left {
  border-color: red;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: none;
  border-width: 4px;
}

.error-right {
  border-color: red;
  border-top-style: solid;
  border-left-style: none;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 4px;
}
